:root{
  --secondary-: #1bb423;
  --grey: #cfcfcf;
}

h1, h2, .App-link{
  color: var(--secondary-);
}

h1 {
  font-size: 3em;
}

.paragraph > span{
  color: var(--grey);
}

.App{
  justify-content: center;
  padding: 2em;
}

.App-header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-content: flex-start;
  color: var(--grey);
}

.App-header > span{
  margin: 0;
  padding: 0;
}
.col1{
  margin-right: 1em;
  flex-wrap:wrap;
}

.col2{
  min-width: 242px;
  flex-wrap:wrap;
}

.edit-form{
  display: grid;
  border-radius: 10px;
  background: #e6e6e6;
  padding: 2em;
}

.cv {
  display: flex;
  flex-direction: row;
  columns: 2;
}

.paragraph{
  margin: 2em 0 0 0;
}
